<div class="statistics flex justify-around my-2.5">
    <a class="item tag-count-item flex flex-col justify-center items-center w-20" href="<%- url_for(config.tag_dir) %>">
        <div class="number text-2xl sm:text-xl text-second-text-color font-semibold"><%= site.tags.length %></div>
        <div class="label text-third-text-color text-sm"><%- __('tags') %></div>
    </a>
    <a class="item tag-count-item flex flex-col justify-center items-center w-20" href="<%- url_for(config.category_dir) %>">
        <div class="number text-2xl sm:text-xl text-second-text-color font-semibold"><%= site.categories.length %></div>
        <div class="label text-third-text-color text-sm"><%- __('categories') %></div>
    </a>
    <a class="item tag-count-item flex flex-col justify-center items-center w-20" href="<%- url_for(config.archive_dir) %>">
        <div class="number text-2xl sm:text-xl text-second-text-color font-semibold"><%= site.posts.length %></div>
        <div class="label text-third-text-color text-sm"><%- __('posts') %></div>
    </a>
</div>