<div class="home-content-container fade-in-down-animation">
    <ul class="home-article-list">
        <% page.posts.forEach(post => { %>
            <li class="home-article-item">

                <% if (post.sticky) { %>
                    <i class="fa-solid fa-thumbtack fa-thumbtack top-icon"></i>
                <% } %>

                <% if (post.thumbnail && post.thumbnail == false) { %>

                <% } else if (post.thumbnail && post.thumbnail !== null) { %>
                    <div class="home-article-thumbnail">
                        <a href="<%- url_for(post.path) %>">
                            <img src="<%- url_for(post.thumbnail) %>" alt="<%= post.title %>" />
                        </a>
                    </div>
                <% } else if (post.cover && post.cover !== null && post.cover !== false) { %>
                    <div class="home-article-thumbnail">
                        <a href="<%- url_for(post.path) %>">
                            <img src="<%- url_for(post.cover) %>" alt="<%= post.title %>" />
                        </a>
                    </div>
                <% } else if (post.banner && post.banner !== null && post.banner !== false) { %>
                    <div class="home-article-thumbnail">
                        <a href="<%- url_for(post.path) %>">
                            <img src="<%- url_for(post.banner) %>" alt="<%= post.title %>" />
                        </a>
                    </div>
                <% } %>

                <h3 class="home-article-title">
                    <a href="<%- url_for(post.path) %>">
                        <%= post.title %>
                    </a>
                </h3>

                <div class="home-article-content markdown-body">
                    <% if (post.excerpt && post.excerpt == "false") { %>
                    <% } else if (post.excerpt && post.excerpt !== "false") { %>
                        <%- post.excerpt %>
                    <% } else { %>
                        <%- truncate(strip_html(post.content), {length: 128}) %>
                    <% } %>
                </div>

                <%- partial('_partials/components/home-article-meta-info', {post: post}) %>
            </li>
        <% }) %>
    </ul>

    <div class="home-paginator">
        <%- partial('_partials/tools/paginator', {pageObject: page}) %>
    </div>
</div>
