<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partials/head') %>
<body>
<%- body %>
<%- partial('_partials/scripts') %>
<% if (theme.plugins.aplayer.enable) { %>
    <%- partial('_partials/components/aplayer') %>
<% } %>
</body>
</html>
