<div class="statistics">
    <a class="item" href="<%- url_for(config.tag_dir) %>">
        <div class="number"><%= site.tags.length %></div>
        <div class="label"><%- __('tags') %></div>
    </a>
    <a class="item" href="<%- url_for(config.category_dir) %>">
        <div class="number"><%= site.categories.length %></div>
        <div class="label"><%- __('categories') %></div>
    </a>
    <a class="item" href="<%- url_for(config.archive_dir) %>">
        <div class="number"><%= site.posts.length %></div>
        <div class="label"><%- __('posts') %></div>
    </a>
</div>