<div class="friends-link-container">
    <div class="friend-links-title">
        <h1 class="article-title-regular"><%= page.title %></h1>
    </div>
    <ul class="friends-link-list">
        <% for (const f of theme.links) { %>
            <li class="friends-link-item">
                <a href="<%= f.link %>">
                    <div class="content">
                        <div class="avatar radius">
                            <% if (f.avatar) { %>
                                <img class="radius"
                                     src="<%= f.avatar %>"
                                     onerror="this.style.display='none'"
                                >
                            <% } else { %>
                                <i class="fa-solid fa-user-group"></i>
                            <% } %>
                        </div>
                        <div class="info">
                            <div class="name ellipsis"><%= f.name %></div>
                            <div class="description ellipsis"><%= f.description %></div>
                        </div>
                    </div>
                </a>
            </li>
        <% } %>
    </ul>
    <div class="clear"></div>
</div>
