<% 
// Load the appropriate album based on the page's front-matter
if (!site.data.masonry || typeof site.data.masonry !== 'object' || typeof page.masonry !== 'string') {
    throw new Error('Invalid masonry data structure or page masonry key');
}
const images = site.data.masonry[page.masonry] || [];
%>

<h1 class="page-title-header"><%= page.title %></h1>

<div class="loading-placeholder">
    <div class="flex-grid generic-card">
        <div class="card loading"></div>
        <div class="card loading"></div>
        <div class="card loading"></div>
    </div>
</div>

<div id="masonry-container">
    <% images.forEach(function(image) { %>
      <div class="masonry-item">
        <div class="image-container">
            <img src="<%- image.image %>" alt="<%- image.title %>">
            <div class="image-title"><%- image.title %></div>
            <div class="image-description"><%- image.description %></div>
        </div>
      </div>
    <% }); %>
</div>
