<% if(
        theme.comment.system === 'waline'
        && theme.comment.config.waline.serverUrl
        && theme.comment.config.waline.lang
) { %>
 
    <div id="waline"></div>
    <script type="module"  <%= theme.global.single_page === true ? 'data-swup-reload-script' : '' %>>
        import { init } from '<%= renderJSPath('js/libs/waline.mjs') %>';

        function loadWaline() {
            init({
                el: '#waline',
                serverURL: '<%= theme.comment.config.waline.serverUrl %>',
                lang: '<%= theme.comment.config.waline.lang %>',
                dark: 'body[class~="dark-mode"]',
                requiredMeta: ['nick','mail'], // cannot customize by theme config, change it yourself
            });
        }

        if ('<%= theme.global.single_page %>') {
            const loadWalineTimeout = setTimeout(() => {
                loadWaline();
                clearTimeout(loadWalineTimeout);
            }, 1000);
        } else {
            window.addEventListener('DOMContentLoaded', loadWaline);
        }
        
    </script>

<% } %>