<div class="first-screen-container flex-center">
    <div class="content flex-center">
        <div class="description fade-in-down-animation" <% if (theme.style.first_screen.custom_font.enable) { %>
         style="font-family: '<%- theme.style.first_screen.custom_font.font_family %>', sans-serif; !important;"
        <% } %>>
          <%- theme.style.first_screen.description || config.description %>
        </div>
        <% if (theme.social_contact.enable) { %>
            <div class="social-contacts fade-in-down-animation">
                <% for (const key in theme.social_contact.links) { %>
                    <% if(theme.social_contact.links[key]) { %>
                        <% if(key === 'email') { %>
                            <span class="social-contact-item <%= key %>">
                                <a href="mailto:<%- theme.social_contact.links[key] %>">
                                    <i class="fa-solid fa-envelope"></i>
                                </a>
                            </span>
                        <% } else { %>
                            <span class="social-contact-item <%= key %>">
                                <a target="_blank" href="<%- theme.social_contact.links[key] %>">
                                    <i class="fa-brands fa-<%= key %>"></i>
                                </a>
                            </span>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        <% } %>
    </div>
</div>
